---
layout: default
---

<div class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			<div class="date" style="font-size: 13pt; text-align: center;">
				Posted on 📅 {{ post.date | date: "%B %e, %Y" }}
			</div>
			<div class="entry">
				{{ post.excerpt }}
			</div>
			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
				<div>
					<b>Read More</b>
				</div>
			</a>
		</article>
	{% endfor %}
</div>

<!-- Pagination links -->
<center>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      ❮
    </a>
  {% else %}
    <span class="previous">❮</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">❯</a>
  {% else %}
    <span class="next ">❯</span>
  {% endif %}
</div>
</center>