---
layout: default
---
{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<section class="intro">
	<p>
		Sup, I am Bhupesh. My identity is in flux; every day is a blessing to learn something new, so I couldn't really
		tell you who I am. In any case, I hope someday, via my actions on this blog, to answer that question
		confidently.
	</p>
	<p>
		Meanwhile, for the normies, I have professionally spent 4+ years working on <a
			href="/artifacts/?category=backend">backend</a> systems. In
		these years I have been held captive and forced to work on distributed systems. I am one more micro-service away
		from nuking this industry as a whole. I believe people working in tech are myopic and have no idea on how the
		world works & never will.
	</p>
</section>

<h2 class="section-title">Recent Posts</h2>

<div class="posts">
	{% for post in site.posts limit: 5 %}
	<article class="post">
		<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
		<div class="date">
			📅 {{ post.date | date: "%B %e, %Y" }}
		</div>
		<div class="entry">
			<p>{{ post.description | default: post.excerpt | strip_html }}</p>
		</div>
		<details class="sneak-peek">
			<summary>Glimpse</summary>
			<div class="entry">
				{{ post.excerpt }}
			</div>
		</details>
	</article>
	{% endfor %}
</div>

<center>
	<a class="mark" href="{{ site.baseurl }}/archive/">All Posts →</a>
</center>