---
layout: default
---
{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<section class="intro">
	<p>
		I am Bhupesh, a Software Craftsman & Tech Writer living in New Delhi, India. Professionally I have spent 4+
		years working on backend systems with Go & Python. In those years I have been held captive and forced to
		work on distributed systems especially their modern avatar of "micro-services". I am one more service away
		from nuking this industry as a whole.
	</p>
	<p>
		I don't believe in grind/builder culture, I sincerely believe that programmers are the weakest
		intellectual humans, albeit somewhat creative, they can't comprehend how the world works so they create their
		own & live in that bubble forever solving problems that don't exist, which is why a lot of "software" written is
		useless. I mean get a life bro? The irony is not lost on me either.
	</p>
</section>

<h2 class="section-title">Recent Posts</h2>

<div class="posts">
	{% for post in site.posts limit: 5 %}
	<article class="post">
		<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
		<div class="date">
			📅 {{ post.date | date: "%B %e, %Y" }}
		</div>
		<div class="entry">
			<p>{{ post.description | default: post.excerpt | strip_html }}</p>
		</div>
		<details class="sneak-peek">
			<summary>Glimpse</summary>
			<div class="entry">
				{{ post.excerpt }}
			</div>
		</details>
	</article>
	{% endfor %}
</div>

<center>
	<a class="mark" href="{{ site.baseurl }}/archive/">All Posts →</a>
</center>
