---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.social-icons-custom i {
  color: white;
}

#shareIcon i {
  color: white;
}

.site-name a {
  color: white;
}

#myBtn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.mark {
  color: white;
  padding: 0;
  text-decoration: none;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 8px), rgba(0, 255, 0, 0.35) calc(50% - 8px), rgba(0, 255, 0, 0.35) 100%);
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0;
}

.mark:hover {
  padding: 2px 0 4px 0;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 8px), rgba(0, 255, 0, 1) calc(50% - 8px), rgba(0, 255, 0, 1) 100%);
  background-position: 0 100%;
  color: black;
}

body {
  background: #0D0E0F;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

#shareIcon {
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #shareIcon {
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;
    background-color: #06C;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #332d2d;
  }

  #resume-frame {
    width: 100%;
    height: 560px;
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  color: white;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.875rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  text-align: center;
  text-wrap: balance;

  a {
    color: white;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $white;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: white;
  vertical-align: baseline;
}

p {
  margin: 15px 5px 5px 7px;
  color: #FFF;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  word-spacing: 2.5px;
  word-wrap: break-word;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $blue;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: #867a7a;
  margin-left: 9px;
  font-size: 16px;
  text-align: center;
}

// Specify the color of the selection
::-moz-selection {
  background: #17be6e;
}

::selection {
  background: #17be6e;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: inherit;
}

.site-description {
  margin: -5px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #00ff09;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #00ff09;
    }
  }
}

//
// .main
//

.pagination {
  color: #fefbfb;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #fff;
  margin-top: 40px;
}

.posts>.post {
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: thick double #fff;
  margin-top: 20px;
  border-radius: 5px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }
}

.page {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

form {
  margin: 20px;
}

label {
  color: white;
  font-weight: bold;
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

figcaption {
  color: #a19f9f
}

td {
  color: white;
  border: 1px solid white;
  padding: 10px;
}

th {
  color: white;
  padding: 8px;
  font-weight: bold;
}

.header-link {
  position: absolute;
  // left: -0.5em;
  padding-left: 0.25em;
  color: rgb(0, 255, 0);
  // opacity: 0;

  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.2em;
  font-size: xx-large;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

a {
  color: #4aff00;
}


.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  margin: 1em 0;
  font-weight: bolder;
  color: #0eff0e;
  font-size: 16px;
}

.PageNavigation table {
  border-collapse: collapse;
  border: thick double #fff;
  margin-top: 20px;
  margin-bottom: 34px;
  border-radius: 5px;
  color: #0fba0f;
  font-size: 34px;
}

.PageNavigation td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: thick double #fff;
}

.PageNavigation .next {
  text-align: right;
}

.social-icons-custom {
  font-size: 23px;
}

.consultation {
  display: inline-block;
  padding: 10px 20px;
  border: 5px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}
.consultation:hover {
  background-color: #0eff0e; /* Change background on hover */
  color:white;           /* Text color stays yellow */
}

input[type=submit] {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  border: 5px solid #fff;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  background-color: black;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0eff0e;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Custom styles for the Terms of Service label */
#tosCheckbox + label {
  font-size: 14px;
  color: #ffffff; /* Change to your desired color */
  cursor: pointer;
}

#tosCheckbox + label a {
  color: #007bff; /* Change to your desired link color */
  text-decoration: underline;
}

#tosCheckbox + label a:hover {
  color: #0056b3; /* Change to your desired hover color */
}

i.fa.fa-link {
  font-size: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footnotes {
  border-top: 1px solid #ccc;
  font-size: 14px;
}

[role=doc-noteref] {
  vertical-align: super;
  font-size: smaller;
  margin-left: 4px;
}

[role=doc-noteref]::before {
  content: "[";
}

[role=doc-noteref]::after {
  content: "]";
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";