<form
       action="https://buttondown.email/api/emails/embed-subscribe/bhupesh"
       method="post"
       target="popupwindow"
       onsubmit="window.open('https://buttondown.email/bhupesh', 'popupwindow')"
       class="embeddable-buttondown-form"
       >
       <label for="bd-email">Thanks a lot for visiting my site. You can subscribe to my newsletter to read more such cool stuff 🔥🚀</label>
       <input type="email" name="email" id="bd-email" placeholder="you@website.com"></input>
       <input type="hidden" value="1" name="embed"></input>
       <input type="submit" value="Subscribe"></input>
</form>