<style type="text/css" media="screen">
  #project-ad {
    padding: 1.5em;
    border: medium solid #0ee80e;
    border-radius: 4px;
    text-align: center;
    font-size: 23px;
    margin: 12px;
  }
</style>
<a href="https://github.com/Bhupesh-V/ugit">
<div id="project-ad">
  <p>Tired of fucking up with git everyday?</p>
  <p><b>ugit</b> helps you undo <code>git</code> commands with ease. Undo from 19+ git scenarios</p>
  <a href="https://github.com/Bhupesh-V/ugit"><img height="400px" src="https://repository-images.githubusercontent.com/356491069/e3b7dbce-37a7-4393-9965-98110f03a8a3" alt="ugit cli demo screen"></a>
</div>
</a>
