<style type="text/css" media="screen">
  #project-ad {
    padding: 1.5em;
    border: medium solid #0ee80e;
    border-radius: 4px;
    text-align: center;
    font-size: 23px;
    margin: 12px;
  }
</style>
<div id="project-ad">
  <p>Tired of fucking up with git everyday?</p>
  <p><a style="color: #0eff0e;" href="https://github.com/Bhupesh-V/ugit"><b>ugit</b></a> helps your undo your last git command with ease</p>
  <img height="100px" src="https://user-images.githubusercontent.com/34342551/115037937-a608d800-9eec-11eb-88a9-252da7d6f507.png" alt="ugit logo">
</div>

