<style type="text/css" media="screen">
  #project-ad {
    padding: 1.5em;
    border: medium solid #0eff0e;
    border-radius: 4px;
    text-align: center;
    font-size: 23px;
    margin: 12px;
  }
</style>
<a href="https://github.com/Bhupesh-V/ugit">
<div id="project-ad">
  <p>Tired of fucking up with git everyday?</p>
  <p><b>ugit</b> helps you undo git commands with ease. Undo from 20+ git scenarios</p><br>
  <a href="https://github.com/Bhupesh-V/ugit"><img style="background-position: center 0;" height="auto" width="100%" src="https://repository-images.githubusercontent.com/356491069/e3b7dbce-37a7-4393-9965-98110f03a8a3" alt="ugit cli demo screen"></a>
</div>
</a>
