{% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}" aria-label="GitHub">
  <img class="mark" width="32px" src="/images/socials/github.svg" alt="">
</a>
{% endif %}
{% if site.footer-links.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" aria-label="LinkedIn">
  <img class="mark" width="32px" src="/images/socials/linkedin.svg" alt="">
</a>
{% endif %}
{% if site.footer-links.rss %}
<a href="{{ site.baseurl }}/feed.xml" aria-label="RSS Feed">
  <img class="mark" width="32px" src="/images/socials/rss-solid.svg" alt="">
</a>
{% endif %}
{% if site.footer-links.twitter %}
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" aria-label="Twitter">
  <img class="mark" width="32px" src="/images/socials/x-twitter.svg" alt="">
</a>
{% endif %}
<!-- {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" aria-label="Stackoverflow"><i class="svg-icon stackoverflow" aria-hidden="true"></i></a>{% endif %} -->