<!--

Oh you think you can code better than me? Get phased, NERD! 🗣️

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}Bhupesh Varshney{% endif %}</title>
    {% include meta.html %}
    <link async rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link disabled type="text/css" id="light-mode" rel="stylesheet" href="{{ site.baseurl }}/light.css" async />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" href="https://bhupesh.me/images/favicons/headshot.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async>
    <meta name="google-site-verification" content="4coaO0YVCAhaE5LAetM4wCbwk1TgAjgNA_G0ywyitnI" />
    <meta charset="UTF-8">

    <style type="text/css">
    html {
      scroll-behavior: smooth;
    }
    .read-more {
      color: white;
      font-family: Montserrat, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .site-name {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      letter-spacing: -2px;
    }
    .button {
      background-color:#4fe377;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:1px solid #18ab29;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      font-weight:bold;
      padding: 10px;
      text-shadow:0px 1px 0px #000000;
    }
    .button:hover {
      background-color:#6d9657;
    }
    .button:active {
      position:relative;
      top:1px;
    }
    #pagetags {
      align-items: center;
      border-radius: 4px;
      display: inline-flex;
      font-size: 1.0rem;
      height: 2em;
      justify-content: center;
      line-height: 1.5;
      padding-left: .75em;
      padding-right: .75em;
      white-space: nowrap;
      margin: 3px;
    }
    </style>
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
<script type="application/ld+json">
{ "@context": "https://schema.org",
 "@type": "TechArticle",
 "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
 },
 "headline": "{{ page.title }}",
 "alternativeHeadline": "{{ page.description }}",
 {% if page.image %}
 "image": "{{ site.url }}/images/{{ page.image }}",
 {% else if page.banner_image %}
 "image": "{{ page.banner_image }}",
 {% endif %}
		"accountablePerson": {
			"@type": "Person",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}"
		},
		"author": {
			"@type": "Person",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}"
		},
		"creator": {
			"@type": "Person",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}"
		},
		"publisher": {
			"@type": "Organization",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}",
			"logo": {
				"@type": "ImageObject",
				"url": "https://raw.githubusercontent.com/Bhupesh-V/Bhupesh-V.github.io/master/images/headshot.jpg"
			}
		},
 "keywords": "{{ page.tags | join: ' ' }}",
 "wordcount": "{{ page.content | number_of_words }}",
 "url": "{{ site.url }}{{ page.url }}",
 "inLanguage": "en-US",
 "dateCreated": "{{ page.date | date: "%B %e, %Y" }}",
 "datePublished": "{{ page.date | date: "%B %e, %Y" }}",
 "dateModified": "{{ page.date | date: "%B %e, %Y" }}",
 "description": "{{ page.description }}",
 "articleBody": {{ page.content | strip_html | jsonify }}
 }
</script>
<script>
  if (localStorage.getItem("lightmode") == "enabled" || !localStorage.getItem("lightmode")) {
      document.getElementById("light-mode").disabled = false;
  } else {
      document.getElementById("light-mode").disabled = true;
  }
</script>
  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <p id="tray-icon" style="cursor:pointer;position: fixed; right: 23px; top: 23px;" onclick="light_toggle()" title="Toggle night mode">🌗
            </p>
        <header class="masthead clearfix">
          <div class="site-info">
            <div class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></div>
            <div class="social-icons-custom">
              <a href="https://github.com/{{ site.footer-links.github }}" title="GitHub">
                <i class="mark fab fa-github fa-lg" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" title="LinkedIn">
                <i class="mark fab fa-linkedin fa-lg" aria-hidden="true"></i>
              </a>
              <a href="/feed.xml" title="RSS Feed">
                <i class="mark fas fa-rss" aria-hidden="true"></i>
              </a>
            </div>
            <br>

            <p class="site-description">{{ site.description }}</p>
          </div>
          <nav>
            <!-- <a class="mark" title="Sponsor me on GitHub" href="https://github.com/sponsors/Bhupesh-V">❤️</a>-->
            <a class="mark" href="{{ site.baseurl }}/archive/">Archive</a>
            <!-- <a class="mark" href="{{ site.baseurl }}/tags">Tags</a> -->
            <a class="mark" href="{{ site.baseurl }}/about/" title="An average /about page">About</a>
            <a class="mark" href="{{ site.baseurl }}/hire/" title="Interested in working with me?">Hire</a>
            <a class="mark" href="{{ site.baseurl }}/projects/" title="Some stuff that I have built">Projects</a>
            <a class="mark" href="{{ site.baseurl }}/now/" title="What am I doing now?">Now</a>
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
      <i onclick="topFunction()" id="myBtn" style="display: none;" class="fas fa-chevron-up fa-2x"></i>
      {{ content }}
    </div>
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
    <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
    } else {
    document.getElementById("myBtn").style.display = "none";
    }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
    </script>
    <script type="text/javascript">
    function share(){
    var currentLocation = window.location;
    var currentTitle = document.title;
    if (navigator.share) {
    navigator.share({
    title: currentTitle,
    url: currentLocation,
    })
    .then(() => console.log('Successful Share'))
    .catch((error) => console.log('Error sharing', error));
    }
    }
    </script>

    <script type="text/javascript">
        function light_toggle() {
            var el1 = document.getElementById("light-mode");
            if(el1.disabled) {
                el1.disabled = false;
                localStorage.setItem("lightmode", "enabled");
                document.getElementById("tray-icon").innerHTML = "🌓";
            } else {
                el1.disabled = true;
                localStorage.setItem("lightmode", "disabled");
                document.getElementById("tray-icon").innerHTML = "🌗";
            }
        }
    </script>
    <script>
      headings = document.querySelectorAll("h1, h2, h3, h4, h5, h6");
      headings.forEach(function(heading, _) {
        //console.log(heading);
        var  icon, id;
        heading_id = heading.id;
        if (heading_id) {
          heading_link = document.createElement("a");
          heading_link.href = "#"+heading_id;
          heading_link.classList.add("header-link");
          
          //console.log(heading_link);

          heading_icon = document.createElement("i");
          heading_icon.classList.add("fa");
          heading_icon.classList.add("fa-link");

          heading_link.appendChild(heading_icon);

          heading.appendChild(heading_link);
        }
      })
      </script>     
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4J53QJR31"></script> 
  </body>
</html>
