---
layout: default
---
<style type="text/css">



</style>
<style type="text/css">

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: thick double #15c822;
  font-weight: bold;
}

  input[type=submit]:hover {
    background-color: #0eff0e;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
</style>

<main>
<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    {%- if page.last_modified_at -%}
    📅️ Last Updated: {{ page.last_modified_at | date: "%B %e, %Y" }}&nbsp;  
    •&nbsp;📅️ Published: {{ page.date | date: "%B %e, %Y" }}
    {%- else -%}
    📅️ Published: {{ page.date | date: "%B %e, %Y" }} 
    {%- endif -%} &nbsp; • 🕣
    {% include read-time.html content=content %}
    <!-- {{ page.content | number_of_words }} totalwords -->
  </div><br/>
  <div class="postTags" style="color: $gray; text-align: center;">
    {% for tag in page.tags %}
    <span id="pagetags" name="colorpad">
      <a style="color: black;" href="/tag/{{ tag }}"><b>📌 {{ tag }}</b></a>
    </span>
    {% endfor %}
  </div>
  <div class="entry">
    {% if page.image %}
    <img alt="{{ page.title }}" style="padding: 50px;" src="https://raw.githubusercontent.com/Bhupesh-V/Bhupesh-V.github.io/master/images/{{ page.image }}">
    {% endif %}
    {% if page.banner_image %}
    <img alt="{{ page.title }}" style="padding: 50px;" src="{{ page.banner_image }}">
    {% endif %}
    {{ content }}
  </div>
</article>
</main>

<div style="padding: 4px;">
  <a href="https://notbyai.fyi/">
  <img src="https://raw.githubusercontent.com/Bhupesh-V/Bhupesh-V.github.io/master/images/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Written by Human, Not by AI">
  </a>
</div>

<div class="PageNavigation">
  <center>
    <table>
      {% if page.previous.url %}
      <tr>
        <td><a class="prev" href="{{page.previous.url}}">◀️ {{page.previous.title}}</a>
        </td>
      </tr>
      {% endif %}
      {% if page.next.url %}
      <tr>
        <td> <a class="next" href="{{page.next.url}}">{{page.next.title}} ▶️</a>
      </tr>
      {% endif %}
    </table>
  </center>
</div>

<center>
  <!-- Sharingbutton Facebook -->
  <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io" target="_blank" rel="noopener" aria-label=""> 
      <i class="fab fa-facebook-square"></i>
  </a>

  <!-- Sharingbutton Twitter -->
  <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label="">
    <i class="fab fa-twitter-square"></i>
  </a>

  <!-- Sharingbutton E-Mail -->
  <a class="resp-sharing-button__link" href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" target="_self" rel="noopener" aria-label="">
    <i class="fas fa-envelope"></i>
  </a>

  <!-- Sharingbutton LinkedIn -->
  <a class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}&amp;summary={{ page.description }}.&amp;source={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label="">
    <i class="fab fa-linkedin"></i>
  </a>

  <!-- Sharingbutton Reddit -->
  <a class="resp-sharing-button__link" href="https://reddit.com/submit/?url={{ site.url }}{{ page.url }}&amp;resubmit=true&amp;title={{ page.title }}" target="_blank" rel="noopener" aria-label="">
    <i class="fab fa-reddit-square"></i>
  </a>

  <!-- Sharingbutton Telegram -->
  <a class="resp-sharing-button__link" href="https://telegram.me/share/url?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener" aria-label="">
    <i class="fab fa-telegram"></i>
  </a>
</center>

{% include newsletter.html %}
{% include project-ad.html %}

<div class="hmm" id="shareIcon">
  <i class="fas fa-share-alt" onclick="share()" style="margin-top: 10px; font-size: 28px; margin-left: 10px;"></i>
</div>
{% include utterances.html %} 
